on:
  workflow_dispatch:
  pull_request:
      branches:
      - 'main'
      - 'releases/**'

name: QA - PSRule Azure Practices

jobs:
  validate-psrule:
    runs-on: ubuntu-latest
    permissions:
      actions: write
      contents: write
      security-events: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: PSRule analysis
        uses: microsoft/ps-rule@v2.7.0
        with:
          modules: PSRule.Rules.Azure
          inputType: repository
          outputFormat: Sarif
          outputPath: ./psrule.sarif
          outcome: Processed

      - name: Upload PSRule SARIF results
        uses: github/codeql-action/upload-sarif@v2
        if: always()
        with:
          sarif_file: psrule.sarif
